<!--<mdl-layout>
    <mdl-layout-content>
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--3-col">
                <div class="mdl-cell mdl-cell--12-col">
                    <form [formGroup]="form" mdl-shadow="2">
                        <mdl-textfield label="First Name" type="text" formControlName="firstName" floating-label></mdl-textfield>
                        <mdl-textfield label="Last Name" type="text" formControlName="lastName" floating-label></mdl-textfield>
                        <mdl-textfield label="Email" name="email" type="text" formControlName="email" floating-label pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$"
                            error-msg="Please provide a correct email!"></mdl-textfield>
                            <mdl-textfield label="Password" name="password" type="password" formControlName="password" floating-label></mdl-textfield>
                            <button class="submit-btn" mdl-button (click)="onSubmit()" [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple mdl-colored="primary">Submit</button>

                    </form>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
    </mdl-layout-content>
</mdl-layout>-->
<div style="margin:0 auto; max-width:600px;padding:30px;">
    <md-card>
        <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">

            <h2>
                <p>Sign Up</p>
                It’s free and always will be.
            </h2>
            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="First name" formControlName="firstName">
                        </md-input-container>
                    </td>
                    <td>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Last Name" formControlName="lastName">
                        </md-input-container>
                    </td>
                </tr>
            </table>

            <md-input-container class="full-width">
                <input mdInput placeholder="Mobile number or email" formControlName="email">
            </md-input-container>

            <md-input-container class="full-width">
                <input mdInput placeholder="Password" type="password" formControlName="password">
            </md-input-container>

            <md-input-container class="full-width">
                <input mdInput placeholder="Birthday" formControlName="birthday">
                <md-hint align="end">mm-dd-yyyy</md-hint>
            </md-input-container>

            <md-radio-group class="full-width">
                <md-radio-button value="1">Female</md-radio-button>
                <md-radio-button value="2">Male</md-radio-button>
            </md-radio-group>


            <div class="full-width" style="padding-top:30px; display:flex">
                <div style="flex: 1 auto"></div>
                <button md-raised-button type="submit" color="accent">Sign up</button>
            </div>



            <div *ngIf="errorMessages?.length > 0" class="has-error">
                <div *ngFor="let errorMsg of errorMessages">
                    <small>{{ errorMsg.description }}</small>
                </div>
            </div>
        </form>
    </md-card>
</div>