<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azurefacebook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework />
    <MSDeployServiceURL>azurefacebook.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AzureFacebook</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AzureFacebook</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/bc35d016-f8db-4e64-8149-55944d23b9db/resourcegroups/SocialNetwork/providers/Microsoft.Web/sites/AzureFacebook</ResourceId>
    <ContainerResourceId>/subscriptions/bc35d016-f8db-4e64-8149-55944d23b9db/resourcegroups/SocialNetwork/providers/Microsoft.ContainerRegistry/registries/pesbookcontainerregistry</ContainerResourceId>
    <ContainerResourceName>pesbookcontainerregistry</ContainerResourceName>
    <ResourceGroup>SocialNetwork</ResourceGroup>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://pesbookcontainerregistry-on.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>