
.example-sidenav-fab-container {
  width: 100%;
  height: calc(100vh - 56px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-fab-container md-sidenav {
  max-width: 200px;
}

.example-sidenav-fab-container .md-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.sidebar-fab-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}