<mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
    <mdl-layout-header>
        <mdl-layout-header-row>
            <mdl-layout-title>Title</mdl-layout-title>
            <mdl-layout-spacer></mdl-layout-spacer>
            <!-- Navigation. We hide it in small screens. -->
            <navigation></navigation>
        </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
        <mdl-layout-title>Title</mdl-layout-title>
        <navigation></navigation>
    </mdl-layout-drawer>
    <mdl-layout-content class="mdl-grid">
        <router-outlet></router-outlet>
    </mdl-layout-content>
</mdl-layout>