<div [formGroup]="commentFormGroup">
  <div class="full-width" style="display:flex">
    <div>Created by: {{post.createdBy}}</div>
    <div style="flex: 1 auto"></div>
    <div>Date posted: {{post.datePosted}}</div>
    <button md-button (click)="deletePost(post.id)"><md-icon>close</md-icon></button>
  </div>

  <div>{{post.content}}</div>

  <md-input-container style="width:100%" floatPlaceholder="never">
    <textarea mdTextareaAutosize rows="1" mdInput style="resize: none; width:100%" formControlName="post" placeholder="Add a comment..."></textarea>
  </md-input-container>

  <div class="full-width" style="display:flex">
    <button md-button><md-icon>photo_camera</md-icon></button>
    <button md-button><md-icon>attachment</md-icon></button>
    <div style="flex: 1 auto"></div>
    <button (click)="postComment()" md-button type="submit" color="accent">POST</button>
  </div>
</div>

<div *ngFor="let comment of comments">
  <comment [post]="comment"></comment>
</div>